.server-error {
  max-width: var(--max-width);
  padding: var(--spacing-12) var(--spacing-4);
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 auto;

  & > .title {
    font-size: 2rem;
  }
}
