/* Component */
.blog-card {
  position: relative;
  overflow: hidden;
  border-radius: 0.5rem;
  transition: all 0.3s;
  background-color: var(--color-card-bg);
  border: 1px solid var(--color-background-secondary);

  &:hover {
    background-color: var(--color-card-bg-hover);
    border-color: var(--color-primary);
    transform: translateY(-2px);
  }

  &:hover > .emoji-container > .emoji {
    transform: scale(1.1);
  }

  & > .content {
    padding: var(--spacing-4);
    min-height: 170px;

    @media (--smartphone) {
      min-height: auto;
    }
  }

  & > .content > .title {
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--color-text);
    line-height: 1.25;
    transition: color 0.2s;
  }

  & > .content > .contentTypes {
    display: flex;
    align-items: center;
    gap: var(--spacing-2);
    margin-bottom: var(--spacing-4);
  }

  & > .content > .date {
    margin-bottom: var(--spacing-2);
    color: var(--color-text-secondary);
    font-size: 0.875rem;
  }
}

.emoji-container {
  position: relative;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-card-bg-hover);

  & > .emoji {
    font-size: 5rem;
    transition: transform 0.3s;

    @media (--smartphone) {
      font-size: 4rem;
    }
  }
}
