/* Component */
.blog-card {
  position: relative;
  overflow: hidden;
  border-radius: 0.5rem;
  transition: box-shadow 0.3s;
  background-color: var(--color-white);

  &:hover {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  }

  &:hover > .image-container > .image {
    transform: scale(1.05);
  }

  & > .content {
    padding: var(--spacing-4);
    min-height: 170px;

    @media (--smartphone) {
      min-height: auto;
    }
  }

  & > .content > .title {
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--color-text);
    line-height: 1.25;
    transition: color 0.2s;
  }

  & > .content > .contentTypes {
    display: flex;
    align-items: center;
    gap: var(--spacing-2);
    margin-bottom: var(--spacing-4);
  }

  & > .content > .date {
    margin-bottom: var(--spacing-2);
    color: var(--color-text);
    font-size: 0.875rem;
  }
}

.image-container {
  font-size: 75px;
  display: flex;
  justify-content: center;
  min-height: 160px;
  align-items: center;
  background-color: var(--color-background-primary-lighter);
}
