.chip {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  color: var(--color-text);
  background-color: rgba(0, 0, 0, 0.08);
  font-size: 12px;
  padding: 6px 12px;
}
