.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-4);
  margin-top: auto;

  @media (--smartphone) {
    padding-bottom: calc(var(--spacing-4) + 80px);
  }

  & > .copyright {
    color: var(--color-text-secondary);
    font-size: 0.875rem;
  }
}
